/*! From minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

/* 1. Remove the grey highlight on links in iOS 
* 2. Prevent orientation font changes in iOS
* 3. Breaks words to prevent overflow in all browsers
*/
html {
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-wrap: break-word;
  /* 3 */
}

body {
  margin: 0;
  font-family: "Lato", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5;
}

/* 1. Switch to border-box model for all elements
 * 2. Avoid min-width: auto on flex and grid items
 */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* 1 */
  /*min-width: 0;*/
  /* 2 */
}

img,
video {
  height: auto;
  max-width: 100%;
}

img {
  border-style: none;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Links
*/
a {
  color: #6c757d;
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  color: #212529;
  text-decoration: none;
}

.main-wrapper {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-grid {
  display: grid !important;
}

.size-open {
  width: 55% !important;
  max-height: 330px !important;
  height: auto !important;
}
@media screen and (max-width: 768px) {
  .size-open {
    width: 80% !important;
  }
}

.placeholder-opacity::-moz-placeholder {
  opacity: 0.6 !important;
}

.placeholder-opacity:-ms-input-placeholder {
  opacity: 0.6 !important;
}

.placeholder-opacity::placeholder {
  opacity: 0.6 !important;
}

.rotate {
  transform: rotate(180deg);
}

.combobox {
  display: flex;
  margin-top: 15px;
}
@media screen and (max-width: 1200px) {
  .combobox {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .combobox {
    width: 100%;
    flex-direction: column;
  }
}
.combobox-container {
  border-radius: 5px;
  position: relative;
  margin-right: 20px;
  width: 170px;
  height: 69px;
}
@media screen and (max-width: 768px) {
  .combobox-container {
    margin: 0 auto 5px auto;
    width: 80%;
  }
}
.combobox-input {
  border-style: none;
  font-size: 1.125rem;
  font-weight: 500;
  width: 88%;
  height: 69px;
  padding: 15px 20px 15px 18px;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
}
.combobox-input:-moz-focusring {
  outline: none;
}
.combobox-input:focus {
  outline: none;
}
.combobox-input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.combobox-input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.combobox-input::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.combobox__ingredient {
  background-color: #3282F7;
}
.combobox .search-ingredient {
  background-color: #3282F7;
  border: 1px solid #3282F7;
  font-family: "Lato", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.combobox__appliance {
  background-color: #68D9A4;
}
.combobox .search-appliance {
  background-color: #68D9A4;
  border: 1px solid #68D9A4;
  font-family: "Lato", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.combobox__ustensil {
  background-color: #ED6454;
}
.combobox .search-ustensil {
  background-color: #ED6454;
  border: 1px solid #ED6454;
  font-family: "Lato", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.datalist {
  display: none;
  grid-template-columns: repeat(3, 220px);
  width: 100%;
  padding-bottom: 20px;
  margin-top: -10px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  max-height: 330px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 992px) {
  .datalist {
    display: none;
    grid-template-columns: none;
  }
}
.datalist__ingredient {
  background-color: #3282F7;
}
.datalist__appliance {
  background-color: #68D9A4;
}
.datalist__ustensil {
  background-color: #ED6454;
}
.datalist__opt {
  color: #FFFFFF;
  font-size: 1.125rem;
  padding-left: 15px;
  cursor: pointer;
}

.opt__ingredient:hover {
  background: #0966ed;
}
.opt__appliance:hover {
  background: #3fcf8b;
}
.opt__ustensil:hover {
  background: #e83a26;
}

.sorter-arrow {
  position: absolute;
  top: 28px;
  right: 18px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.search-bar__input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: #e7e7e7;
  padding: 5px 20px;
  margin-bottom: 15px;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}
.search-bar__input::-moz-placeholder {
  opacity: 0.3;
}
.search-bar__input:-ms-input-placeholder {
  opacity: 0.3;
}
.search-bar__input::placeholder {
  opacity: 0.3;
}
.search-bar__input:-moz-focusring {
  outline: 1px solid #c7bebe;
}
.search-bar__icon {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
}

.recipe-card {
  width: 380px;
  height: 364px;
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .recipe-card {
    margin-left: auto;
    margin-right: auto;
  }
}

.recipe-container-img {
  height: 50%;
  width: 100%;
  background-color: #c7bebe;
}

.recipe-content {
  background-color: #e7e7e7;
  min-height: 50%;
  padding: 20px;
  overflow: hidden;
  height: 50%;
}

.recipe-heading {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  margin-bottom: 15px;
  line-height: 1.21;
}
.recipe-heading__title {
  max-width: 73%;
}
.recipe-heading__timer {
  font-weight: 700;
}

.recipe-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  overflow: hidden;
  height: 72%;
}
.recipe-info__ingredients {
  width: 49%;
}
.recipe-info__description {
  width: 48%;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.2;
  font-family: Roboto;
}

.recipe-composant {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.2;
  overflow: hidden;
}
.recipe-composant__ingredient {
  font-weight: bold;
}
.recipe-composant__quantity {
  margin-left: 3px;
}
.recipe-composant__unit {
  margin-left: 2px;
}

.tags-section {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px 5px 0px;
  border-radius: 5px;
  overflow: hidden;
  padding: 8px 20px;
  border-style: none;
}
.tag__txt {
  margin-right: 15px;
  color: #FFFFFF;
  font-size: 0.875rem;
  letter-spacing: 1px;
}
.tag__ingredient {
  background-color: #3282F7;
}
.tag__appliance {
  background-color: #68D9A4;
}
.tag__ustensil {
  background-color: #ED6454;
}

.tag > .fa-circle-xmark {
  color: #FFFFFF;
  cursor: pointer;
}

.header {
  margin-bottom: 60px;
}

.logo {
  margin: 30px auto;
  display: block;
  width: 250px;
}

.research-section {
  position: relative;
}

.recipe-section {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-bottom: 50px;
  -moz-column-gap: 3%;
       column-gap: 3%;
  row-gap: 45px;
}
@media screen and (max-width: 1200px) {
  .recipe-section {
    grid-template-columns: repeat(2, 380px);
  }
}
@media screen and (max-width: 992px) {
  .recipe-section {
    display: flex;
    flex-direction: column;
  }
}

.no-match {
  text-align: center;
}/*# sourceMappingURL=main.css.map */