.recipe-section {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-bottom: 50px;
    column-gap: 3%;
    row-gap: 45px;
    @include x-large-device {
        grid-template-columns: repeat(2, 380px);
    }
    @include large-device {
        display: flex;
        flex-direction: column;
    }
}


// No match found message
.no-match {
    text-align: center;
}