//Global settings
.combobox {
    display: flex;
    margin-top: 15px;
    @include x-large-device {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    @include medium-device {
        width: 100%;
        flex-direction: column;
    }
    &-container {
        border-radius: $radius-5px;
        position: relative;
        margin-right: 20px;
        width: 170px;
        height: 69px;
        @include medium-device {
            margin: 0 auto 5px auto;
            width: 80%;
        }
    }
    &-input {
        border-style: none;
        font-size: map-get($font-size , "18");
        font-weight: $weight-medium;
        width: 88%;
        height: 69px;
        padding: 15px 20px 15px 18px;
        border-radius: $radius-5px;
        color: $white;
        cursor: pointer;
        &:-moz-focusring {
            outline: none;
        }
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $white;
            opacity: 1;
        }
    }
}

//Ingredient combobox
.combobox {
    &__ingredient {
        background-color: $color-tertiary;
    }
    .search-ingredient { // ingredient input
        background-color: $color-tertiary;
        border: 1px solid $color-tertiary;
        font-family: $font-family-base;
    }
}

//Appliance combobox
.combobox {
    &__appliance {
        background-color: $color-quat;
    }
    
    .search-appliance { // appliance input
        background-color: $color-quat;
        border: 1px solid $color-quat;
        font-family: $font-family-base;
    }
}

//Ustensil combobox
.combobox {
    &__ustensil {
        background-color: $color-quint;
    }
    .search-ustensil { // ustensil input
        background-color: $color-quint;
        border: 1px solid $color-quint;
        font-family: $font-family-base;
    }
}

//Options inside combobox
.datalist {
    display: none;
    grid-template-columns: repeat(3, 220px);
    width: 100%;
    padding-bottom: 20px;
    margin-top: -10px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    max-height: 330px;
    border-bottom-left-radius: $radius-5px;
    border-bottom-right-radius: $radius-5px;
    @include large-device {
        display: none;
        grid-template-columns: none;
    }
    &__ingredient {
        background-color: $color-tertiary;
    }
    &__appliance {
        background-color: $color-quat;
    }
    &__ustensil {
        background-color: $color-quint;
    }
    &__opt {
        color: $white;
        font-size: map-get($font-size, "18");
        padding-left: 15px;
        cursor: pointer;
    }
}

.opt {
    &__ingredient {
        &:hover {
            background: darken($color-tertiary, 10%);
        }
    }
    &__appliance {
        &:hover {
            background: darken($color-quat, 10%);
        }
    }
    &__ustensil {
        &:hover {
            background: darken($color-quint, 10%);
        }
    }
}


//Sorter arrows
.sorter-arrow {
    position: absolute;
    top: 28px;
    right: 18px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
