.recipe-card {
    width: 380px;
    height: 364px;
    border-radius: $radius-5px;
    overflow: hidden;
    @include large-device {
        margin-left: auto;
        margin-right: auto;
    }
}

.recipe-container-img {
    height: 50%;
    width: 100%;
    background-color: $color-secondary;
}

.recipe-content {
    background-color: $color-primary;
    min-height: 50%;
    padding: 20px;
    overflow: hidden;
    height: 50%;
}
.recipe-heading {
    display: flex;
    justify-content: space-between;
    font-size: map-get($font-size, "18");
    margin-bottom: 15px;
    line-height: 1.21;
    &__title {
        max-width: 73%;
    }
    &__timer {
        font-weight: $weight-bold;
    }
}

.recipe-info {
    display: flex;
    justify-content: space-between;
    font-size: map-get($font-size, "12");
    overflow: hidden;
    height: 72%;
    &__ingredients {
        width: 49%;
    }
    &__description {
        width: 48%;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.2;
        font-family: nth($font-family-base, 2);
    }
}

.recipe-composant {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.2;
    overflow: hidden;
    &__ingredient {
        font-weight: bold;
    }
    &__quantity {
        margin-left: 3px;
    }
    &__unit {
        margin-left: 2px;
    }
}