@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.main-wrapper {
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.display-grid {
    display: grid !important;
}

.size-open {
    height: auto !important;
    max-height: 330px !important;
    width: 55% !important;
    @include medium-device {
        width: 80% !important;
    }
}

.placeholder-opacity {
    &::-webkit-input-placeholder {
        opacity: 0.6 !important;
    }
    &::-moz-placeholder {
        opacity: 0.6 !important;
    }
    &:-ms-input-placeholder {
        opacity: 0.6 !important;
    }
    &::-ms-input-placeholder {
        opacity: 0.6 !important;
    }
    &::placeholder {
        opacity: 0.6 !important;
    }
}

.rotate {
    transform: rotate(180deg);
}